#newgame{
    display: inline-block;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background-color: #85c827;
    color: white;
    border: 2px solid white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

#newgame:active{
    background-color: #E0E0E1;
}

#score{
    display: inline-block;
    float: right;
    height: 100%;
    box-sizing: border-box;
    font-size: 40px;
    font-family: Aharoni;
    color: #5d1e7e;
}



h1{
    color: yellow;
    font-size: 60px;
    margin-bottom: 1px;
    margin-top: 18px;
    height: 60px;
    text-align: left;
}

.imgtop{
    height: 100%;
    float: right;
}

#field{
    background-image: url("img/back.png");
    background-size: 11%;

}

nav{

    margin: auto;
    width: 100%;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #85c827;
    margin:0;
}

.field-border{
    width: 600px;
    height: 400px;
    padding: 20px;
    background-image: url("img/64b74d.jpg");
    background-size: 11%;
}

#field tr td{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    padding: 0;
}

#field tr{
    font-size: 0;
    margin: 0;
    display: block;
}

.field_wrap {

    display: inline-block;
}


.headTop{
    position: relative;
}

.headBot{
    position: relative;
}

.headLeft{
    position: relative;
    transition: all linear 1s;
}


.headRight{
    position: relative;
}

.headTop:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/stock.png") 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.headBot:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/stock.png") 0 0 no-repeat;
    background-size: cover;
}

.headLeft:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/stock.png") 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.headRight:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/stock.png") 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.headEatTop{
    position: relative;
}

.headEatBot{
    position: relative;
}

.headEatLeft{
    position: relative;
}

.headEatRight{
    position: relative;
}

.headFail{
    background-image: url("img/heads/fail.png");
    background-size: contain;
}

.headEatTop:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/eat.png") 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.headEatBot:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/eat.png") 0 0 no-repeat;
    background-size: cover;
}

.headEatLeft:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/eat.png") 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.headEatRight:Before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/heads/eat.png") 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.empty{
    /*border: 2px solid yellow;*/
    /*background-color: greenyellow;*/
    /*transition: all linear .7s;*/
}


.snakeBody{
    background-color: green;
}

.snakeBodyTLAngle{
    border-radius: 100% 0 0 0 ;
}

.snakeBodyTRAngle{
    border-radius: 0 100% 0 0 ;
}

.snakeBodyBLAngle{
    border-radius: 0 0 0 100%;
}

.snakeBodyBRAngle{
    border-radius: 0 0 100% 0;
}

.snakeEndBot{
    border-radius: 0 0 50% 50%;
}

.snakeEndTop{
    border-radius: 50% 50% 0 0;
}

.snakeEndLeft{
    border-radius: 50% 0 0 50%;
}

.snakeEndRight{
    border-radius: 0 50% 50% 0;
}

.food{
    background: url("img/eat/apple.png") no-repeat 100% ;
    background-size: contain;
}


.foodCow{
    background: url("img/eat/cow.png") no-repeat ;
    background-size: contain;
}

.foodHorse{
    background: url("img/eat/horse.png") no-repeat ;
    background-size: contain;
}

body{
    text-align: center;
    background: url("img/background.jpg");
    position: relative;
    margin: 0;
}



#settings{
    background-color: transparent;
    border: 2px solid white;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    display: inline-block;
    float: left;
    height: 100%;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 3px 5px 0px 5px;
    font-weight: 700;
}


.slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 100px;
    position: relative;
    height: 5px;
    margin: 5px;
    display: inline-block;
    border: 2px solid white;
}

.thumb {
    width: 10px;
    height: 15px;
    border-radius: 3px;
    position: absolute;
    left: 45px;
    top: -5px;
    background: yellow;
    cursor: pointer;
}


.loading{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 1000%;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #5d1e7e;
    z-index: 9999;
    font-family: sans-serif;
}
